<% if @board.errors.any? %>
  <ul>
    <% @board.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [@board, @board.messages.new] do |f| %>
  <div class="field">
    <%= f.label "You", class: "label" %>
    <div class="control" data-controller="messageInput">
      <%= f.text_area :content, class: "textarea", placeholder: "Your message...", data: { "messageInput-target": "textarea" } %>
      <%= f.text_field :username, value: @current_user.username, type: "hidden" %>
      <br>

      <%= f.submit "Send", id: "deliver", class: "button is-custom-blue", data: { disable_with: "Processing...", action: "click->messageInput#clearInput"  } %>
    </div>
  </div>
<% end %>
