<% notes.order(position: :asc).each do |note| %>
  <article class="message" data-belongs-to="<%= note.parent_column_id %>" data-id="<%= note.id %>" data-board-id="<%= @board.id %>">
    <div class="message-body">
      <div class="block content">
        <%= link_to "", [note.board, note], method: :delete, :class => "delete has-text-weight-light" %>
      </div>
      <div class="block content">
        <p>
          <%= note.content %>
        </p>
      </div>
    </div>
  </article>
<% end %>
