<div class="container" style="padding-top: 3rem;">
  <div class="container skew-style-login">

    <figure style="position: fixed; padding-left: 22vw; top: 15vh;">
      <%= image_tag("group-login-eclipse.svg", :alt => "dots") %>
    </figure>

    <div class="columns">
      <div class="column"></div>

      <div class="column is-one-third">
        <div class="container form-style-auth has-background-white">
          <h1 class="title">Login</h1>
          <br />
          <%= form_with(model: @user) do |user| %>

          <div class="field">
            <%= label_tag(:username, "Username", :class => "label") %>
            <div class="control has-icons-left">
              <%= text_field(:user, :name, :class => "input", :placeholder => "jonas123", :required => true) %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <p class="help">You can sign in with your email too!</p>
          </div>

          <div class="field">
            <%= label_tag(:password, "Password", :class => "label", :style => "padding-top: 2rem") %>
            <div class="control has-icons-left">
              <%= password_field_tag(:user, :password, :type => "password", :class => "input", :placeholder => "********", :value => nil, required: true) %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <div class="control" style="padding-top: 3rem;">
              <b>
                <%= link_to("Back", auth_index_path, {:class => "button"}) %>
              </b>
              <%= submit_tag("Login", {:class => "button is-custom-blue"}) %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="column"></div>
    </div>

  </div>
</div>
