<% @boards.each do |board| %>
  <div class="column is-one-third">
    <div class="box">
      <div class="title">
        <%= board.name %>
      </div>
      <div class="subtitle">
        <%= board.description %>
      </div>
      <div class="level">
        <div class="level-item">
          <%= link_to "Open", board_path(board), :class => "button is-fullwidth" %>
        </div>
        <div class="level-item">
          <%= link_to "Edit", edit_board_path(board), :class => "button is-fullwidth" %>
        </div>
        <div class="level-item">
          <%= link_to "Delete", board_path(board), method: :delete, :class => "button is-fullwidth" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
