<%= form_with model: board do |f| %>
  <div class="field">
    <%= f.label :name, :class => "label" %>
    <div class="control has-icons-left">
      <%= f.text_field :name, :class => "input", :required => true, :minlength => 2, :placeholder => "Class project" %>
      <% board.errors.full_messages_for(:name).each do |msg| %>
        <%= msg %>
      <% end %>
      <span class="icon is-small is-left">
        <i class="fas fa-signature"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <%= f.label :description, :class => "label", :style => "float: right; padding-top: 1rem;" %>
    <div class="control has-icons-left">
      <%= f.text_field :description, :class => "input", :required => true, :minlength => 4, :placeholder => "For our science class" %>
      <% board.errors.full_messages_for(:description).each do |msg| %>
        <%= msg %>
      <% end %>
      <span class="icon is-small is-left">
        <i class="fas fa-file-signature"></i>
      </span>
    </div>
  </div>

  <div class="field is-grouped is-grouped-centered">
    <div class="control" style="padding-top: 3rem;">
      <%= f.submit "Create", :class => "button is-custom-blue" %>
    </div>
  </div>
<% end %>
