<% content_for :nav_menu do %>
  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <p class="heading mt-3">Welcome <%= @current_user.username %>!</p>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <%= link_to "New", new_board_path, :class => "button" %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => "button" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container" style="padding-top: 2rem;">
  <div class="columns is-multiline is-centered">
    <% if @boards.empty? %>
      <h1>
        <%= "Nothing here..." %>
      </h1>
    <% else %>
      <%= render @boards %>
    <% end %>
  </div>
</div>
