<% content_for :nav_menu do %>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <%= link_to "Home", boards_path, :class => "button" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "boards/panel" %>

<div class="columns scrollable">
  <div class="column is-1 is-offset-1"></div>
  <% if @board.cards.empty? %>
    <h2 class="is-size-6">
      <%= "Nothing here..." %>
    </h2>
  <% end %>

  <div class="column is-quarter" data-controller="drag" data-drag-url="/boards/:board_id/notes/:id/move">
    <%= render "notes/note", notes: @board.notes %>
  </div>

  <%= render "cards/card", cards: @board.cards %>
</div>

<%= render "cards/modal" %>
<%= render "notes/modal" %>

<% content_for :script do %>
  <script>
    function spreadOutBelongings() {
      const notes = document.querySelectorAll('[data-belongs-to]')

      notes.forEach((note) => {
        const column_id = note.dataset.belongsTo
        if (column_id != "undefined") {
          let column = document.querySelectorAll(`[data-id="${column_id}"]`)[0]
          column.appendChild(note)
        }
      })
    }

    document.addEventListener('turbolinks:load', spreadOutBelongings)
  </script>
<% end %>
