<% content_for :nav_menu do %>
  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <p class="heading mt-1">
          Welcome <strong><%= @current_user.username %></strong>!
          <br />
          Invite ID: <strong><%= @current_user.id %></strong>
        </p>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <%= link_to 'Home', boards_path, class: 'button' %>
        <%= link_to 'Invite', new_board_invite_path(@board), class: 'button' %>
      </div>
    </div>
  </div>
<% end %>

<%= render "panel" %>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child container is-fluid">
      <p class="title">Chat</p>
      <article class="media">
        <div class="media-content">
          <span class="container" id="chatLog" data-channel="BoardChannel" data-room="<%= @board.id %>">
            <% if @messages.empty? %>
              <p class="heading">No messages...</p>
              <br>
            <% else %>
              <%= render @messages %>
            <% end %>
          </span>
          <%= render "messages/form" %>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-8 is-vertical is-parent">
    <div class="tile is-child">
      <p class="title">Notes</p>
      <% if !@board.notes.empty? %>
        <p class="heading ml-3">Hover your notes over here to place them back</p>
        <div class="scrollable columns" data-controller="drag" data-drag-url="/boards/:board_id/notes/:id/move">
            <%= render @notes %>
        </div>
      <% else %>
          <p class="heading ml-3">Nothing here, why not create a couple of notes?</p>
      <% end %>
    </div>
    <div class="tile is-child">
      <p class="title">Cards</p>
      <div class="scrollable columns">
        <% if @board.cards.empty? %>
          <p class="heading ml-3">
            You could start with creating columns like: <strong>Todo</strong>, <strong>Doing</strong> & <strong>Done</strong>!
          </p>
        <% else %>
          <%= render @cards %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "cards/modal" %>
<%= render "notes/modal" %>

<div data-controller="onInit"></div>
