<% content_for :nav_menu do %>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <%= link_to "Home", boards_path, :class => "button" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "boards/panel" %>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child container is-fluid">
      <p class="title">Chat</p>
      <article class="media">
        <div class="media-content">
          <span class="container" id="chatLog" data-channel="BoardChannel" data-room="<%= @board.id %>">
            <%= render @messages %>
          </span>

          <%= render "messages/form" %>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-8 is-vertical is-parent">
    <div class="tile is-child">
      <p class="title">Notes</p>
      <div class="scrollable columns" data-controller="drag" data-drag-url="/boards/:board_id/notes/:id/move">
        <% if @board.notes.empty? %>
          <p class="subtitle ml-3">
            Nothing here... Why not create a couple of notes?
          </p>
        <% else %>
          <%= render @notes %>
        <% end %>
      </div>
    </div>
    <div class="tile is-child">
      <p class="title">Cards</p>
      <div class="scrollable columns">
        <% if @board.cards.empty? %>
          <p class="subtitle ml-3">
            Nothing here...
            <br>
            You could start with creating columns like: <strong>Todo</strong>, <strong>Doing</strong> & <strong>Done</strong>!
          </p>
        <% else %>
          <%= render @cards %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "cards/modal" %>
<%= render "notes/modal" %>

<% content_for :script do %>
  <script>
    function spreadOutBelongings() {
      const notes = document.querySelectorAll('[data-belongs-to]')

      notes.forEach((note) => {
        const column_id = note.dataset.belongsTo

        if (column_id !== "undefined" && column_id !== "") {
          const column = document.querySelector(`[data-id="${column_id}"]`)
          column.appendChild(note)
        }
      })
    }

    document.addEventListener('turbolinks:load', spreadOutBelongings)
  </script>
<% end %>
