<% content_for :nav_menu do %>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <%= link_to "Home", boards_path, {:class => "button"} %>
      </div>
    </div>
  </div>
<% end %>

<%= render "boards/panel" %>

<div class="columns scrollable is-mobile">
  <div class="column is-1 is-offset-1"></div>
  <% if @board.cards.empty? %>
    <h2 class="is-size-6">
      <%= "Nothing here, try creating a column..." %>
    </h2>
  <% else %>
    <%= render @board.cards %>
    <%= render @board.notes %>
  <% end %>
</div>

<%= render "boards/modal/column" %>
<%= render "boards/modal/note" %>
