<% content_for(:nav_menu) do %>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="button" id="new">New</div>
        <%= link_to "Sign out", destroy_user_session_path, {method: :delete, :class => "button"} %>
      </div>
    </div>
  </div>
<% end %>

<div class="modal">
  <div class="modal-background"></div>
  <div class="columns">
    <div class="modal-content">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="form-style-panel has-background-white">
          <%= form_with(model: @card) do |card| %>

            <div class="field">
              <%= label_tag(:title, "Board name", :class => "label") %>
              <div class="control has-icons-left">
                <%= text_field(:project, :title, :class => "input", :placeholder => "Class project", required: true) %>
                <span class="icon is-small is-left">
                  <i class="fas fa-signature"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <%= label_tag(:description, "Description", :class => "label", :style => "float: right; padding-top: 1rem;") %>
              <div class="control has-icons-left">
                <%= text_field(:project, :description, :class => "input", :placeholder => "Create working calculator", :aria_required => true, required: true) %>
                <span class="icon is-small is-left">
                  <i class="fas fa-file-signature"></i>
                </span>
              </div>
            </div>

            <div class="field is-grouped is-grouped-centered">
              <div class="control" style="padding-top: 3rem;">
                <%= submit_tag "Cancel", {:class => "button", :id => "back"} %>
                <%= submit_tag "Create", :class => "button is-custom-blue" %>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>

<div class="container" style="padding-top: 2rem;">
  <div class="columns is-multiline is-centered">

    <div class="column card is-one-quarter">
      <div class="title">Name</div>
      <div class="subtitle">Description</div>
    </div>

  </div>
</div>

<% content_for(:script) do %>
  <script>
    const toggleModal = () => {
      $(".modal").toggleClass("is-active");
    };

    $("#back").click(() => {
      toggleModal();
    });

    $("#new").click(() => {
      toggleModal();
    });
  </script>
<% end %>
