<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kancard</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link
      rel="stylesheet preload"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
      as="style"
      crossorigin="anonymous"
    />

    <%= yield :font_awesome %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
