<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @project_title %></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <h2 class="title title-logo">
          <%= @project_title %>
        </h2>
      </div>
      <%= yield :nav_menu %>
    </nav>
    <%= yield %>
    <%= yield :script %>
  </body>
</html>
