<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kancard</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application-light', media: '(prefers-color-scheme: no-preference), (prefers-color-scheme: light)', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application-dark', media: '(prefers-color-scheme: dark)', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <h2 class="title title-logo has-text-weight-light"><%= AuthController.title %></h2>
      </div>
      <%= yield :nav_menu if block_given? %>
    </nav>

    <% if not notice.nil? %>
      <div class="notification">
        <%= notice %>
      </div>
    <% end %>

    <% if not alert.nil? %>
      <div class="notification">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>

    <%= yield :script if block_given? %>
  </body>
</html>
